<div class="relative mt-2 space-y-3 text-sm font-light">
  <div
    class="secret-emoji-container animate-bounce absolute -mt-3 opacity-75 pointer-events-none"
  ></div>
  <p>
    <span class="secret-emoji-trigger cursor-pointer">Hey</span>, I'm
    Jared. I mostly work on web related projects but every now and then
    I'll branch out and give something different a try. I am currently a
    junior majoring in
    <span class="dark:text-gray-100 font-bold"
    >Computer Information Systems</span
    >
    graduating in 2022.
  </p>
  <p>
    I have experience with the tools that make up a modern web
    development tool chain, including but not limited to
    <span class="dark:text-gray-100 font-bold"
    >ES6, Typescript, NodeJS, VueJS, bundlers and linters</span
    >.
  </p>
  <p>
    I also have knowledge with various different technologies such as
    <span class="dark:text-gray-100 font-bold"
    >PHP, Swift, Python, Lua, Java, MongoDB, Redis, MySQL, Postgres, and Linux</span
    >.
  </p>
  <p>
    I have been developing websites for over 5 years and plan to work in the web industry after I graduate.
  </p>
</div>