<div class="relative mt-2 space-y-3 text-sm font-light">
  <div
    class="secret-emoji-container animate-bounce absolute -mt-3 opacity-75 pointer-events-none"
  ></div>
  <p>
    <span class="secret-emoji-trigger cursor-pointer hover:select-none">Hey</span>, I'm
    Jared. I mostly work on web related projects but every now and then
    I'll branch out and give something different a try.
  </p>
  <p>
    I have experience with the tools that make up a modern web
    development tool chain, including but not limited to
    <span class="dark:text-gray-100 font-bold"
    >Typescript, Node, React, Vue, Vite, ESBuild, common bundlers and linters</span
    >.
  </p>
  <p>
    I also have knowledge with various different technologies such as
    <span class="dark:text-gray-100 font-bold"
    >PHP, Swift, Python, Lua, Java, MongoDB, Redis, MySQL, Postgres, and Linux</span
    >.
  </p>
</div>
