<div class="text-normal mt-3 space-y-3 text-sm">
  <p>
    <a href="https://github.com/jdf221/ListOfProjects#readme">View list of projects</a>
    or
    <a href="https://github.com/jdf221/me.jaredfurlow.com">this site's repository</a>

  </p>
</div>
<!--<h1 class="mt-5 text-xl font-bold">Projects</h1>
<div class="text-normal mt-1 space-y-3 text-sm font-light">
  <p>
    <a>Lorem ipsum dolor</a>, Maecenas pretium eu augue vitae suscipit.
    Maecenas consequat orci mauris, a dictum nisi convallis a.
  </p>
  <p>
    <a>Et malesuada fames</a>, Nullam cursus finibus risus vel tempor.
    Duis id scelerisque enim, et tincidunt leo. Fermentum non
    pellentesque id, rutrum id enim.
  </p>
  <p>
    <a>Sed dignissim</a>, Aliquam erat volutpat. Duis efficitur metus
    vel congue ornare. Cras tristique est vitae purus malesuada
    imperdiet.
  </p>
  <p>
    <a>Vivamus in sagittis tortor</a>, Aliquam vehicula commodo magna,
    quis commodo sem porta non. Ut bibendum consectetur auctor. Maecenas
    viverra sem a lacus congue, sit amet tristique libero.
  </p>
  <p>
    <a class="font-light">View full list</a>
  </p>
</div>-->